torch==2.0.1          
torchvision==0.15.2   
efficientnet-pytorch==0.7.1  # EfficientNet 实现


opencv-python==4.8.0.76  
numpy==1.24.3         
albumentations==1.3.1 

scikit-learn==1.3.0  


# tensorrt==8.6.1     # NVIDIA TensorRT（需手动安装并配置环境）

# 可选：其他实用工具（根据需要启用）
# matplotlib==3.7.2   # 可视化（用于调试或结果展示）
# tqdm==4.66.1        # 进度条（训练时显示进度）